# Our formatter plugin is set to specifically require LF line endings
# as a workaround for a Gradle cache invalidation bug. So we set this
# here to ensure all relevant files use Unix endings.
*.java text eol=lf